body {
  background-image: url('/dark_wall.png');
  padding-top: 2.5em;
}

.row {
  margin-left: -10px !important;
}

.container {
  color: rgb(170, 170, 156);
}

a.teaser {
  color: #75ABC5;
}

.thumbnail-main {
  width: 250px;
  height: 188px;
}
